@import '_reset.css';

/*
  =============
  Global Styles
  =============
*/

$black: #000;
$very-dark-gray: hsl(0, 0%, 20%);
$dark-gray: hsl(0, 0%, 59%);
$light-gray: hsl(0, 0%, 90%);
$white: #fff;
$radix: 0.5rem;

:root {
  font-family: 'Rubik', sans-serif;
  color: $very-dark-gray;
}

/*
  =============
    Typography
  =============
*/

h1 {
  color: $white;
  font-size: 1.75rem;
  font-weight: 500;
}

span {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: $dark-gray;
}

@media (min-width: 1200px) {
  h1 {
    color: $white;
    font-size: 2.5rem;
    font-weight: 500;
  }
}

/*
  =============
      Layout
  =============
*/

#header {
  background: url(../assets/pattern-bg-desktop.png);
  background-size: cover;

  display: flex;
  justify-content: center;

  height: 40dvh;
  padding: 1rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 100%;
    transition: all 350ms ease-out;

    form {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width: 1200px) {
  #header {
    height: 30dvh;
    align-items: center;
    div {
      align-items: center;
      gap: 2.5rem;
    }
  }
}

/*
  =============
    Components
  =============
*/

button {
  background-color: $very-dark-gray;

  border: none;
  border-radius: 0px $radix $radix 0px;
  padding: 1.5rem;

  &:hover {
    cursor: pointer;
  }
}

input {
  font-size: 1rem;
  font-weight: 400;
  padding: 1.5rem;
  border-radius: $radix 0px 0px $radix;
  border: none;

  width: 100%;
  max-width: 75ch;

  &:focus {
    outline: none;
  }
}

#map {
  z-index: 0;
  position: relative;
}

#results-container {
  position: absolute;
  top: 40dvh;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;

  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  gap: 1rem;
  width: max-content;
  max-width: calc(100% - 2rem);

  background-color: $white;
  border-radius: $radix;
  box-shadow: (0px 8px 24px rgba(102, 102, 102, 0.12));

  padding: 1.5rem;
}

@media (min-width: 1200px) {
  #results-container {
    top: 30dvh;
    grid-auto-flow: column;
  }

  .result {
    max-width: 240px;
    border-right: 1px solid $light-gray;
    padding: 0px 2.5rem;

    &:last-child {
      border: 0px;
    }
  }
}

@media (max-width: 1200px) {
  .result {
    text-align: center;
  }
}

/*
  =============
    Animation
  =============
*/

@media (min-width: 1200px) {
  .slideup {
    translate: 0 -25%;
  }
}
